
# PSoC Creator Folders to ignore (PSoC4/5)
*Archive/
*Backup/
*codegentemp/
*CortexM0/
*CortexM3/
*Export/
*Generated_Source/

# PSoC Creator Non-Bootloadable project files to ignore (PSoC4/5)
*_timing.html
# Bootloadable project files to ignore
**.cydsn/*timing.html
*.svd
*.rpt
*.cyfit
*.cycdx
*.log
*.tmp
*.txt

# Option for .ctl files used in some PSoC Creator examples
*.ctl

# Option for .pdf files supplied by some PSoC Creator examples or those specifically created from Creator
*.pdf
*_datasheet.pdf

# Optional PSoC Creator Files to ignore (Export to IDE feature)
*.mk
makefile

# PSoC Creator User Files to ignore
*.cyprj.*
*.cywrk.*

# For external editors such as NotePad+++
*.bak
*.json